doctype html
html
    head
        style
            include style.css
    body
        div Магазин

        block content

        div.footer Заходьте ще
            br
            a(href=frontendURL) Hebron Rocket Course