extends container
block content
    p #{userName}
    div
        | Oops looks like you Forgot your password.
        p Don't worry be happy

        button
            a(href=forgotPasswordUrl) CLICK HERE TO RESET